<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" style="width: 70px;"></a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Home<mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Pages<mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Features<mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Course<mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Events <mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Blog <mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    Elements <mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                    My CRUD <mdb-icon fas icon="caret-down"></mdb-icon>
                </a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->